<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.change.ticket" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountManager"
            android:label="@string/title_activity_account_manager" >
        </activity>
        <activity
            android:name=".Route_plan"
            android:label="@string/title_activity_route_plan" >
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Prompt"
            android:label="@string/title_activity_prompt" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
