body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:270px;
  top:0px;
  width:270px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:0px;
  width:270px;
  height:440px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:440px;
}
#u3 {
  position:absolute;
  left:2px;
  top:212px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:285px;
  top:385px;
  width:240px;
  height:40px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
